SELECT * FROM fcsaSQL3.fcsa.main.mt_ante WHERE call1='VUE554'

SELECT * FROM fcsaSQL3.fcsa.main.mt_site WHERE call1='CGV867'


SELECT * FROM fcsaSQL3.fcsa.main.mt_chan
	WHERE call1='CKT473'

SELECT COUNT(*) FROM fcsaSQL3.fcsa.main.mt_site
SELECT COUNT(*) FROM fcsaSQL3.fcsa.main.mt_ante
SELECT COUNT(*) FROM fcsaSQL3.fcsa.main.mt_chan

SELECT * FROM hulme.sd_band ORDER BY blo, bhi

SELECT * FROM fcsaSQL3.fcsa.main.me_ante

SELECT txband, COUNT(txband) FROM fcsaSQL3.fcsa.main.me_ante GROUP BY txband ORDER BY txband

SELECT rxband, COUNT(rxband) FROM fcsaSQL3.fcsa.main.me_ante GROUP BY rxband ORDER BY rxband

SELECT bndcde, COUNT(bndcde) FROM hulme.mt_ante GROUP BY bndcde ORDER BY bndcde
SELECT bndcde, COUNT(bndcde) FROM hulme.mt_chan GROUP BY bndcde ORDER BY bndcde

SELECT bndcde, COUNT(bndcde) FROM fcsaSQL3.fcsa.main.mt_ante GROUP BY bndcde ORDER BY bndcde

SELECT * FROM fcsaSQL5D.fcsa.hulme.mt_ante WHERE bndcde='6B'
SELECT * FROM hulme.mt_chan WHERE bndcde='6B'

SELECT COUNT(*) FROM fcsaSQL5D.fcsa.hulme.mt_ante WHERE bndcde='6B'
SELECT COUNT(*) FROM hulme.mt_chan WHERE bndcde='6B'

SELECT A.call1, A.call2, A.bndcde, A.anum, A.ause, C.chid, C.freqtx, C.freqrx, C.antnumbtx1, C.antnumbtx2, C.antnumbrx1, C.antnumbrx2, C.antnumbrx3, 
	hulme.IsInRangeFloatTxRx(5850000, 6425000, C.freqtx, C.freqrx) AS in6A,
	hulme.IsInRangeFloatTxRx(6425000, 6930000, C.freqtx, C.freqrx) AS in6D,
	hulme.IsInRangeFloatTxRx(6590000, 7125000, C.freqtx, C.freqrx) AS in6E
	FROM hulme.mt_ante AS A
	INNER JOIN hulme.mt_chan AS C ON A.call1=C.call1 AND A.call2=C.call2 AND A.bndcde=C.bndcde
	WHERE A.bndcde='6B'
	ORDER BY A.call1, A.call2

;A0206204
WNEF35704

SELECT call1, call2, bndcde, anum, ause FROM fcsaSQL3.fcsa.main.mt_ante WHERE call1=';A0206204' AND call2='WNEF35704'  
SELECT call1, call2, bndcde, chid, antnumbtx1, antnumbtx2, antnumbrx1, antnumbrx2, antnumbrx3,
		hulme.IsInRangeFloatTxRx(5850000, 6425000, C.freqtx, C.freqrx) AS in6A,
		hulme.IsInRangeFloatTxRx(6425000, 6930000, C.freqtx, C.freqrx) AS in6D,
		hulme.IsInRangeFloatTxRx(6590000, 7125000, C.freqtx, C.freqrx) AS in6E FROM fcsaSQL3.fcsa.main.mt_chan AS C WHERE call1=';A0206204' AND call2='WNEF35704'  

SELECT call1, call2, bndcde, anum, ause FROM hulme.mt_ante WHERE call1=';A0206204' AND call2='WNEF35704'  
SELECT call1, call2, bndcde, chid, antnumbtx1, antnumbtx2, antnumbrx1, antnumbrx2, antnumbrx3,
		hulme.IsInRangeFloatTxRx(5850000, 6425000, C.freqtx, C.freqrx) AS in6A,
		hulme.IsInRangeFloatTxRx(6425000, 6930000, C.freqtx, C.freqrx) AS in6D,
		hulme.IsInRangeFloatTxRx(6590000, 7125000, C.freqtx, C.freqrx) AS in6E FROM hulme.mt_chan AS C WHERE call1=';A0206204' AND call2='WNEF35704'  

--------------------------------------------------------------------------------------------------------------------------------

SELECT call1, call2, bndcde, anum, ause FROM fcsaSQL3.fcsa.main.mt_ante 
	WHERE bndcde = '6B' 
	ORDER BY call1, call2, bndcde, anum
SELECT call1, call2, bndcde, chid, antnumbtx1, antnumbtx2, antnumbrx1, antnumbrx2, antnumbrx3,
		CASE WHEN hulme.IsInRangeFloatTxRx(5850000, 6425000, C.freqtx, C.freqrx) = 1 THEN 1 ELSE 0 END AS in6A,
		CASE WHEN hulme.IsInRangeFloatTxRx(6425000, 6930000, C.freqtx, C.freqrx) = 1 THEN 1 ELSE 0 END AS in6D,
		CASE WHEN hulme.IsInRangeFloatTxRx(6590000, 7125000, C.freqtx, C.freqrx) = 1 THEN 1 ELSE 0 END AS in6E 
	FROM fcsaSQL3.fcsa.main.mt_chan AS C 
	WHERE bndcde = '6B'
	ORDER BY call1, call2, bndcde, chid

SELECT call1, call2, bndcde, anum, ause FROM fcsaSQL5D.fcsa.hulme.mt_ante 
	WHERE bndcde = '6B' 
	ORDER BY call1, call2, bndcde, anum
SELECT call1, call2, bndcde, chid, antnumbtx1, antnumbtx2, antnumbrx1, antnumbrx2, antnumbrx3,
		CASE WHEN hulme.IsInRangeFloatTxRx(5850000, 6425000, C.freqtx, C.freqrx) = 1 THEN 1 ELSE 0 END AS in6A,
		CASE WHEN hulme.IsInRangeFloatTxRx(6425000, 6930000, C.freqtx, C.freqrx) = 1 THEN 1 ELSE 0 END AS in6D,
		CASE WHEN hulme.IsInRangeFloatTxRx(6590000, 7125000, C.freqtx, C.freqrx) = 1 THEN 1 ELSE 0 END AS in6E 
	FROM fcsaSQL5D.fcsa.hulme.mt_chan AS C 
	WHERE bndcde = '6B'
	ORDER BY call1, call2, bndcde, chid

---------------------------------------------------------------------------------------------------------------------------

IF OBJECT_ID('hulme.temp1') IS NOT NULL DROP TABLE hulme.temp1
SELECT Min(call1) AS 'call1', Min(call2) AS 'call2', bndcde, COUNT(chid) AS 'countChids',
	    antnumbtx1, -1 AS antnumbtx2, -1 AS antnumbrx1, -1 AS antnumbrx2, -1 AS antnumbrx3,
		SUM(CASE WHEN hulme.IsInRangeFloatTxRx(5850000, 6425000, C.freqtx, C.freqrx) = 1 THEN 1 ELSE 0 END) AS in6A,
		SUM(CASE WHEN hulme.IsInRangeFloatTxRx(6425000, 6930000, C.freqtx, C.freqrx) = 1 THEN 1 ELSE 0 END) AS in6D,
		SUM(CASE WHEN hulme.IsInRangeFloatTxRx(6590000, 7125000, C.freqtx, C.freqrx) = 1 THEN 1 ELSE 0 END) AS in6E 
	INTO hulme.temp1
	FROM fcsaSQL3.fcsa.main.mt_chan AS C 
	WHERE bndcde = '6B' 
	GROUP BY call1, call2, bndcde, antnumbtx1
	ORDER BY call1, call2, bndcde, antnumbtx1

SELECT * FROM hulme.temp1

IF OBJECT_ID('hulme.temp2') IS NOT NULL DROP TABLE hulme.temp2
SELECT call1, call2, bndcde, antnumbtx1 AS anum, countChids, in6A, in6D, in6E,
		CASE
			WHEN (in6A > 0 AND in6D > 0) THEN 'YES' ELSE ''
		END AS _6DisOrphan,
		CASE
			WHEN (in6A = 0 AND in6D > 0 AND in6E > 0) THEN 'YES' ELSE ''
		END AS _6EisOrphan
	INTO hulme.temp2
	FROM hulme.temp1
	WHERE ((in6A > 0 AND in6D > 0)  OR (in6A > 0 AND in6E > 0) OR (in6D > 0 AND in6E > 0))
			AND (antnumbtx1 IS NOT NULL)
			AND (countChids > 1)
			/*AND (call1='VBB816' AND call2='VBB817')*/
	ORDER BY call1, call2, bndcde, anum

SELECT * FROM hulme.temp2 WHERE _6DisOrphan
SELECT * FROM hulme.temp2 WHERE _6DisOrphan = 'YES'
SELECT * FROM hulme.temp2 WHERE _6EisOrphan = 'YES'

-------------------------------------------------------------------------

SELECT call1, call2, bndcde, COUNT(anum)
	FROM fcsaSQL3.fcsa.main.mt_ante
	WHERE bndcde = '6B' AND hulme.IsInRangeFloatTxRx(5850000, 6425000, C.freqtx, C.freqrx) = 1
	GROUP BY call1, call2, bndcde
	ORDER BY call1, call2, bndcde

USE fcsa;
DECLARE @myCall1 CHAR(9) = 'CGS963';  
DECLARE @myCall2 CHAR(9) = 'CGT580';
DECLARE @bndcde CHAR(3) = '6B';
SELECT call1, hulme.isMember(oper) AS isMember, hulme.isCanadianProvince(prov) AS isCanadianProvince FROM fcsaSQL3.fcsa.main.mt_site WHERE call1=@myCall1

SELECT call1, call2, bndcde, anum, ause FROM fcsaSQL3.fcsa.main.mt_ante WHERE call1=@myCall1 AND call2=@myCall2 AND bndcde=@bndcde
  
SELECT call1, call2, bndcde, chid, 
	hulme.IsInRangeFloatTxRx(5850000, 6425000, freqtx, freqrx) AS in6A,
	hulme.IsInRangeFloatTxRx(6425000, 6930000, freqtx, freqrx) AS in6D,
	hulme.IsInRangeFloatTxRx(6590000, 7125000, freqtx, freqrx) AS in6E,
	antnumbtx1, antnumbtx2, antnumbrx1, antnumbrx2, antnumbrx3
	FROM fcsaSQL3.fcsa.main.mt_chan WHERE call1=@myCall1 AND call2=@myCall2 AND bndcde=@bndcde  

SELECT A.call1, A.call2, A.bndcde, A.anum, A.ause, C.chid, C.freqtx, C.freqrx, C.antnumbtx1, C.antnumbtx2, C.antnumbrx1, C.antnumbrx2, C.antnumbrx3, 
	hulme.IsInRangeFloatTxRx(5850000, 6425000, C.freqtx, C.freqrx) AS in6A,
	hulme.IsInRangeFloatTxRx(6425000, 6930000, C.freqtx, C.freqrx) AS in6D,
	hulme.IsInRangeFloatTxRx(6590000, 7125000, C.freqtx, C.freqrx) AS in6E
	FROM fcsaSQL3.fcsa.main.mt_ante AS A
	INNER JOIN fcsaSQL3.fcsa.main.mt_chan AS C ON A.call1=C.call1 AND A.call2=C.call2 AND A.bndcde=C.bndcde
	WHERE A.bndcde='6B'
	ORDER BY A.call1, A.call2, A.anum

	------------------------------------------------------------------------

USE fcsa;
DECLARE @myCall1 CHAR(9) = 'CFB316';   
DECLARE @myCall2 CHAR(9) = 'VAM463';

SELECT call1, hulme.isMember(oper) AS isMember, hulme.isCanadianProvince(prov) AS isCanadianProvince FROM fcsaSQL3.fcsa.main.mt_site WHERE call1=@myCall1

SELECT call1, call2, bndcde, anum, ause FROM fcsaSQL3.fcsa.main.mt_ante WHERE call1=@myCall1 AND call2=@myCall2
  
SELECT call1, call2, bndcde, chid, 
	hulme.IsInRangeFloatTxRx(5850000, 6425000, freqtx, freqrx) AS in6A,
	hulme.IsInRangeFloatTxRx(6425000, 6930000, freqtx, freqrx) AS in6D,
	hulme.IsInRangeFloatTxRx(6590000, 7125000, freqtx, freqrx) AS in6E,
	antnumbtx1, antnumbtx2, antnumbrx1, antnumbrx2, antnumbrx3
	FROM fcsaSQL3.fcsa.main.mt_chan WHERE call1=@myCall1 AND call2=@myCall2

--------------------------------------------------------------------------------------------

	IF OBJECT_ID('hulme.temp1') IS NOT NULL DROP TABLE hulme.temp1
	SELECT call1, call2, MIN(bndcde) AS _min, MAX(bndcde) AS _max, COUNT(*) AS totalAnums
		INTO hulme.temp1
	FROM fcsaSQL3.fcsa.main.mt_ante
	WHERE bndcde = '6B' OR bndcde != '6E'
	GROUP BY call1, call2

SELECT * FROM hulme.temp1 WHERE _max = '6E'

SELECT * FROM fcsaSQL3.fcsa.main.mt_ante WHERE call1='KPH2601   ' AND call2='KPH2602  '     