<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="mics@fcsa.top">
        <!-- The password is obfuscated. -->
        <network
		    defaultCredentials="false"
            host="smtp.office365.com"
            port="587"
            userName="mics@fcsa.top"
            password=")B){82{&amp;f:juT"
            enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="FromEmailAddress" value="mics@fcsa.top"/>
  </appSettings>
</configuration>