<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FtValidate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
    <gcConcurrent enabled="true"/>
  </runtime>
  <userSettings>
    <FtValidate.Properties.Settings>
      <setting name="MicsUser" serializeAs="String">
        <value>hulme1</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>XXX</value>
      </setting>
      <setting name="DBName" serializeAs="String">
        <value>fcsa</value>
      </setting>
    </FtValidate.Properties.Settings>
  </userSettings>
</configuration>