<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="mics@fcsa.ca">
        <network host="10.1.1.14" userName="mics@fcsa.ca" password="Fc$a(54)"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="FromEmailAddress" value="mics@fcsa.ca"/>
  </appSettings>
</configuration>
