USE [fcsa]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [hulme].[WithinToleranceInt](@x1 as INT, @y1 as INT, @x2 as INT, @y2 as INT, @tolerance as INT)
returns BIT
AS
begin

	-- Validate the input.
	if (@x1 IS NULL) OR (@y1 IS NULL) OR (@x2 IS NULL) OR (@y2 IS NULL) OR (@tolerance IS NULL) return NULL;

	DECLARE @result AS BIT = 0;

	DECLARE @delta_x AS INT = ABS(@x1 - @x2);
	DECLARE @delta_y AS INT = ABS(@y1 - @y2);
	DECLARE @abstol  AS INT = ABS(@tolerance);

	if ((@delta_x < @abstol) AND (@delta_y < @abstol)) set @result = 1;

	-- We're done.
	return @result;
	
end