USE [fcsa]
GO
/****** Object:  UserDefinedFunction [hulme].[tier5AreaCodeLogic]    Script Date: 8/11/2020 11:10:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER FUNCTION [hulme].[tier5AreaCodeLogic](@local_site_t5a_brc as CHAR(6), @remote_site_t5a_brc as CHAR(6))
returns CHAR(6)
AS
begin

	-- Validate the input.
	if (@local_site_t5a_brc IS NULL) AND (@remote_site_t5a_brc IS NULL) return NULL;

	-- Fixed point-to-point links located within Canada, which are not captured by 
	-- Tier 5 service areas (e.g. offshore), will qualify for the remote fee.
	if (@local_site_t5a_brc IS NULL) OR (@remote_site_t5a_brc IS NULL) return 'REMOTE';

	if (NOT @local_site_t5a_brc in ('URBAN', 'RURAL', 'REMOTE')) return NULL;
	if (NOT @remote_site_t5a_brc in ('URBAN', 'RURAL', 'REMOTE')) return NULL;

	-- If we get here then both input arguments are valid Tier 5 Area Codes.
	-- Calculate the output area code i.a.w. ISED's logic.
    declare @result as char(6) = NULL;

	-- If either area code is 'REMOTE' the result is 'REMOTE'
	if ((@local_site_t5a_brc = 'REMOTE') OR (@remote_site_t5a_brc = 'REMOTE')) SET @result = 'REMOTE'
	-- If either area code is 'URBAN'  the result is 'URBAN'
	else if ((@local_site_t5a_brc = 'URBAN' ) OR (@remote_site_t5a_brc = 'URBAN' )) SET @result = 'URBAN'
	-- The only remaining case is a 'RURAL' <--> 'RURAL' pair.
	else SET @result = 'RURAL';

	-- We're done.
	return @result;
	
end