DECLARE @call1 CHAR(9) = 'CFB611';     		   
DECLARE @call2 CHAR(9) = 'CFB612';

   	 
DECLARE @call1 CHAR(9) = 'VFG938';     		   
DECLARE @call2 CHAR(9) = 'VFG939';  

DECLARE @call1 CHAR(9) = 'CFB336';     		   
DECLARE @call2 CHAR(9) = 'CGE539';   

DECLARE @call1 CHAR(9) = 'CFB306';     		   
DECLARE @call2 CHAR(9) = 'CII689';    	   	   

SELECT	siteA.call1, AnteA.call2, anteA.bndcde, anteA.anum, chanA.chid, anteA.ause, chanA.freqtx, chanA.antnumbtx1, chanA.antnumbtx2, chanA.freqrx, chanA.antnumbrx1, chanA.antnumbrx2, chanA.antnumbrx3 
	FROM main.mt_chan chanA
	JOIN main.mt_ante anteA ON (anteA.call1 = chanA.call1) AND (anteA.call2 = chanA.call2) AND (anteA.bndcde = chanA.bndcde)
	JOIN main.mt_site siteA ON (siteA.call1 = chanA.call1)
	WHERE siteA.call1 = @call1 AND anteA.call2 = @call2
	ORDER BY chanA.call1, chanA.call2, chanA.bndcde, anteA.anum, chanA.chid

SELECT	siteA.call1, chanA.freqtx, anteA.azmth, anteA.aht, AnteA.call2, anteA.bndcde, anteA.anum, chanA.chid
	FROM main.mt_chan chanA
	JOIN main.mt_ante anteA ON (anteA.call1 = chanA.call1) AND (anteA.call2 = chanA.call2) AND (anteA.bndcde = chanA.bndcde) AND anteA.anum = chanA.antnumbtx1
	JOIN main.mt_site siteA ON (siteA.call1 = chanA.call1)
	WHERE siteA.call1 = 'CFB310' /*AND anteA.ause IN ('TX', 'TR')*/
	ORDER BY chanA.call1, chanA.freqtx, anteA.azmth, chanA.call2, chanA.bndcde, anteA.anum;

-----------------------------------------------------------------------------------------

SELECT * FROM main.mt_chan WHERE call1 = 'CFB310' AND call2 = 'CFB311' AND freqtx = '6785000'

DECLARE @call1 CHAR(9) = 'XJV283';     		   
--DECLARE @call2 CHAR(9) = 'CFB612';

SELECT * FROM main.mt_site WHERE call1 = @call1

SELECT * FROM main.mt_ante WHERE call1 = @call1 AND ause IN ('TX', 'TR') ORDER BY call2, bndcde, anum

SELECT * FROM main.mt_chan WHERE call1 = @call1 ORDER BY call2, bndcde, chid


