SELECT 
	   [TXRX]
      ,[FrequencyMhz]/*
      ,[Frequencyrecordidentifier]
      ,[Regulatoryservice]
      ,[CommunicationType]
      ,[Conformitytofrequencyplan]
      ,[Frequencyallocationname]
      ,[Channel]
      ,[Internationalcoordinationnumber]*/
      ,[Analogdigital]
      ,[OccupiedbandwidthkHz]
      ,[Designationofemission]/*
      ,[Modulationtype]
      ,[Filtrationinstalled]
      ,[TxeffectiveradiatedpowerERPdBW]
      ,[TxtransmitterpowerW]
      ,[TotallossesdB]
      ,[AnalogcapacityChannels]
      ,[DigitalcapacityMbits]
      ,[RxunfadedreceivedsignalleveldBW]
      ,[RxthresholdsignallevelforBER10e3dBW]
      ,[Manufacturer]
      ,[Modelnumber]
      ,[AntennagaindBi]
      ,[Antennapattern]
      ,[Halfpower3dBbeamwidthdeg]
      ,[FronttobackratiodB]*/
      ,[Polarization]
      ,[Heightabovegroundlevelm] AS aht
      ,[Azimuthofmainlobedeg]/*
      ,[Verticalelevationangledeg]
      ,[Stationlocation]
      ,[Licenseestationreference]*/
      ,[Callsign]/*
      ,[Typeofstation]
      ,[ITUclassofstation]
      ,[Stationcostcategory]
      ,[Numberofidenticalstations]
      ,[Referenceidentifier]*/
      ,[Provinces]
      ,[LatitudeWGS84]
      ,[LongitudeWGS84]/*
      ,[Groundelevationabovemeansealevelm]
      ,[Antennastructureheightabovegroundlevelm]
      ,[Congestionzone]
      ,[Radiusofoperationkm]
      ,[Satellitename]*/
      ,[Authorizationnumber]/*
      ,[MWService]
      ,[Subservice]
      ,[Licencetype]
      ,[Authorizationstatus]
      ,[Inservicedate]
      ,[Accountnumber]*/
      ,[Licenseename]/*
      ,[Licenseeaddress]
      ,[Operationalstatus]
      ,[Stationclass]
      ,[HorizontalpowerW]
      ,[VerticalpowerW]
      ,[Standbytransmitterinformation]
      ,[MICSoper]
      ,[MICSopnote]
      ,[MICScompany]
      ,[RecordAction]*/
      ,[keyfield]
  FROM [fcsa].[frse].[ISEDCleanedI21B] AS T
  --WHERE
	--TXRX = 'TX' 
	--AND ([hulme].[distance_deg]( @lat, @lng, T.LatitudeWGS84, T.LongitudeWGS84)  < 0.3)
    --AND ([hulme].[distance_less_than_deg]( @lat, @lng, T.LatitudeWGS84, T.LongitudeWGS84, 0.3) = 1)
  ORDER BY Authorizationnumber, LatitudeWGS84,TXRX, FrequencyMhz