SELECT * FROM fcsaSQL3.fcsa.main.mt_ante WHERE call1='VUE554'

SELECT * FROM fcsaSQL3.fcsa.main.mt_site WHERE call1='CGV867'


SELECT * FROM fcsaSQL3.fcsa.main.mt_chan
	WHERE call1='CKT473'

SELECT COUNT(*) FROM fcsaSQL3.fcsa.main.mt_site
SELECT COUNT(*) FROM fcsaSQL3.fcsa.main.mt_ante
SELECT COUNT(*) FROM fcsaSQL3.fcsa.main.mt_chan

SELECT * FROM hulme.sd_band ORDER BY blo, bhi

SELECT * FROM fcsaSQL3.fcsa.main.me_ante

SELECT txband, COUNT(txband) FROM fcsaSQL3.fcsa.main.me_ante GROUP BY txband ORDER BY txband

SELECT rxband, COUNT(rxband) FROM fcsaSQL3.fcsa.main.me_ante GROUP BY rxband ORDER BY rxband

SELECT bndcde, COUNT(bndcde) FROM hulme.mt_ante GROUP BY bndcde ORDER BY bndcde
SELECT bndcde, COUNT(bndcde) FROM hulme.mt_chan GROUP BY bndcde ORDER BY bndcde

SELECT bndcde, COUNT(bndcde) FROM fcsaSQL3.fcsa.main.mt_ante GROUP BY bndcde ORDER BY bndcde

SELECT * FROM fcsaSQL5D.fcsa.hulme.mt_ante WHERE bndcde='6B'
SELECT * FROM hulme.mt_chan WHERE bndcde='6B'

SELECT COUNT(*) FROM fcsaSQL5D.fcsa.hulme.mt_ante WHERE bndcde='6B'
SELECT COUNT(*) FROM hulme.mt_chan WHERE bndcde='6B'

SELECT A.call1, A.call2, A.bndcde, A.anum, A.ause, C.chid, C.freqtx, C.freqrx, C.antnumbtx1, C.antnumbtx2, C.antnumbrx1, C.antnumbrx2, C.antnumbrx3, 
	hulme.IsInRangeFloatTxRx(5850000, 6425000, C.freqtx, C.freqrx) AS in6A,
	hulme.IsInRangeFloatTxRx(6425000, 6930000, C.freqtx, C.freqrx) AS in6D,
	hulme.IsInRangeFloatTxRx(6590000, 7125000, C.freqtx, C.freqrx) AS in6E
	FROM hulme.mt_ante AS A
	INNER JOIN hulme.mt_chan AS C ON A.call1=C.call1 AND A.call2=C.call2 AND A.bndcde=C.bndcde
	WHERE A.bndcde='6B'
	ORDER BY A.call1, A.call2

WQVW76501	WQVW76502

SELECT call1, call2, bndcde, anum, ause FROM fcsaSQL3.fcsa.main.mt_ante WHERE call1='WQVW76501' AND call2='WQVW76502'  
SELECT call1, call2, bndcde, chid, antnumbtx1, antnumbtx2, antnumbrx1, antnumbrx2, antnumbrx3,
		hulme.IsInRangeFloatTxRx(5850000, 6425000, C.freqtx, C.freqrx) AS in6A,
		hulme.IsInRangeFloatTxRx(6425000, 6930000, C.freqtx, C.freqrx) AS in6D,
		hulme.IsInRangeFloatTxRx(6590000, 7125000, C.freqtx, C.freqrx) AS in6E FROM fcsaSQL3.fcsa.main.mt_chan AS C WHERE call1='WQVW76501' AND call2='WQVW76502'  

SELECT call1, call2, bndcde, anum, ause FROM hulme.mt_ante WHERE call1='WQVW76501' AND call2='WQVW76502'  
SELECT call1, call2, bndcde, chid, antnumbtx1, antnumbtx2, antnumbrx1, antnumbrx2, antnumbrx3,
		hulme.IsInRangeFloatTxRx(5850000, 6425000, C.freqtx, C.freqrx) AS in6A,
		hulme.IsInRangeFloatTxRx(6425000, 6930000, C.freqtx, C.freqrx) AS in6D,
		hulme.IsInRangeFloatTxRx(6590000, 7125000, C.freqtx, C.freqrx) AS in6E FROM hulme.mt_chan AS C WHERE call1='WQVW76501' AND call2='WQVW76502'  

--------------------------------------------------------------------------------------------------------------------------------

SELECT call1, call2, bndcde, anum, ause FROM fcsaSQL3.fcsa.main.mt_ante 
	WHERE bndcde = '6B' 
	ORDER BY call1, call2, bndcde, anum
SELECT call1, call2, bndcde, chid, antnumbtx1, antnumbtx2, antnumbrx1, antnumbrx2, antnumbrx3,
		CASE WHEN hulme.IsInRangeFloatTxRx(5850000, 6425000, C.freqtx, C.freqrx) = 1 THEN 1 ELSE 0 END AS in6A,
		CASE WHEN hulme.IsInRangeFloatTxRx(6425000, 6930000, C.freqtx, C.freqrx) = 1 THEN 1 ELSE 0 END AS in6D,
		CASE WHEN hulme.IsInRangeFloatTxRx(6590000, 7125000, C.freqtx, C.freqrx) = 1 THEN 1 ELSE 0 END AS in6E 
	FROM fcsaSQL3.fcsa.main.mt_chan AS C 
	WHERE bndcde = '6B'
	ORDER BY call1, call2, bndcde, chid

SELECT call1, call2, bndcde, anum, ause FROM fcsaSQL5D.fcsa.hulme.mt_ante 
	WHERE bndcde = '6B' 
	ORDER BY call1, call2, bndcde, anum
SELECT call1, call2, bndcde, chid, antnumbtx1, antnumbtx2, antnumbrx1, antnumbrx2, antnumbrx3,
		CASE WHEN hulme.IsInRangeFloatTxRx(5850000, 6425000, C.freqtx, C.freqrx) = 1 THEN 1 ELSE 0 END AS in6A,
		CASE WHEN hulme.IsInRangeFloatTxRx(6425000, 6930000, C.freqtx, C.freqrx) = 1 THEN 1 ELSE 0 END AS in6D,
		CASE WHEN hulme.IsInRangeFloatTxRx(6590000, 7125000, C.freqtx, C.freqrx) = 1 THEN 1 ELSE 0 END AS in6E 
	FROM fcsaSQL5D.fcsa.hulme.mt_chan AS C 
	WHERE bndcde = '6B'
	ORDER BY call1, call2, bndcde, chid