USE [fcsa]
GO
/****** Object:  UserDefinedFunction [hulme].[strToFloatlong]    Script Date: 8/25/2021 11:40:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =======================================================================
-- Converts a longitude string like 123-07-17.30 to a floating-point value
-- =======================================================================
ALTER FUNCTION [hulme].[strToFloatlong] 
(
	-- Add the parameters for the function here
	@inchrlong varchar(13)
)
RETURNS [float]
AS
BEGIN
	-- Declare the return variable here
	DECLARE @retlong [float] 

	SELECT @retlong = CONVERT(float,(SUBSTRING(@inchrlong, 1, 3))) -- convert str degrees to float degrees
	SELECT @retlong = @retlong + CONVERT(float,(SUBSTRING(@inchrlong, 5, 2)))/60. -- convert str minutes to float dec degrees
	SELECT @retlong = @retlong + CONVERT(float,(SUBSTRING(@inchrlong, 8, 5)))/3600. -- convert str seconds to float dec degrees
	
	-- Return the result of the function
	RETURN @retlong
			
END


	












