USE [fcsa]
GO
/****** Object:  UserDefinedFunction [hulme].[strToFloatLat]    Script Date: 8/25/2021 11:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =====================================================================
-- Converts a latitude string like 49-13-52.20 to a floating-point value
-- =====================================================================
ALTER FUNCTION [hulme].[strToFloatLat] 
(
	-- Add the parameters for the function here
	@inchrlat varchar(12)
)
RETURNS [float]
AS
BEGIN
	-- Declare the return variable here
	DECLARE @retlat [float] 

	DECLARE @strlat [char] (9)
	DECLARE @latdeg int
	DECLARE @latmin int
	DECLARE @latsec float
	DECLARE @inintlat int
	DECLARE @inintlong int
	DECLARE @msd int
	DECLARE @sd int

	SELECT @retlat = CONVERT(float,(SUBSTRING(@inchrlat, 1, 2))) -- convert str degrees to float degrees
	SELECT @retlat = @retlat + CONVERT(float,(SUBSTRING(@inchrlat, 4, 2)))/60. -- convert str minutes to float dec degrees
	SELECT @retlat = @retlat + CONVERT(float,(SUBSTRING(@inchrlat, 7, 5)))/3600. -- convert str seconds to float dec degrees
	
	-- Return the result of the function
	RETURN @retlat
			
END


	











