USE fcsa;

SELECT * FROM fcsa.hulme.mt_chan --WHERE bndcde='11B' --AND chid LIKE 'X%'

SELECT * FROM hulme.mt_ante WHERE call1 = ';A0199401' AND call2 = 'WPOU25901' ORDER BY bndcde, anum
SELECT * FROM hulme.mt_chan WHERE call1 = ';A0199401' AND call2 = 'WPOU25901' ORDER BY bndcde, chid

SELECT * FROM hulme.mt_ante WHERE call1 = 'WQPD34701' AND call2 = 'WQPD34702' ORDER BY bndcde, anum
SELECT * FROM hulme.mt_chan WHERE call1 = 'WQPD34701' AND call2 = 'WQPD34702' ORDER BY bndcde

SELECT * 
	FROM hulme.mt_ante AS AX
	INNER JOIN hulme.mt_ante AS AY ON (AX.call1=AY.call1 AND AY.call2=AY.call2 AND AX.bndcde='11A' AND AY.bndcde='11B' AND AX.anum=AY.anum)

 SELECT * 
	FROM hulme.mt_chan AS CX
	INNER JOIN hulme.mt_chan AS CY ON (CX.call1=CY.call1 AND CX.call2=CY.call2 AND CX.bndcde='11A' AND CY.bndcde='11B' AND CX.chid=CY.chid)

------------------------------------------------------------------------------------------------------------
SELECT CY.call1, CY.call2, CY.bndcde, CY.chid
    FROM hulme.mt_chan AS CX
	INNER JOIN hulme.mt_chan AS CY ON (CX.call1=CY.call1 AND CX.call2=CY.call2 AND CX.bndcde='11A' AND CY.bndcde='11B' AND CX.chid=CY.chid)
	ORDER BY call1, call2, chid

-- For those mt_chan records that changing bndcde from 11B to 11A would result in a duplicate key conflict
-- change the chid to create an (as yet) unused key set.
UPDATE CY
	SET chid = 'X' + RIGHT(CY.chid, 3) /*RIGHT('000' + CONVERT(VARCHAR(3), @i), 3)*/
    FROM hulme.mt_chan AS CX
	INNER JOIN hulme.mt_chan AS CY ON (CX.call1=CY.call1 AND CX.call2=CY.call2 AND CX.bndcde='11A' AND CY.bndcde='11B' AND CX.chid=CY.chid)

UPDATE hulme.mt_chan SET bndcde = '11A' WHERE bndcde = '11B'

SELECT * FROM hulme.mt_chan WHERE chid LIKE 'X%'

SELECT * FROM hulme.mt_chan WHERE bndcde = '11B'

-- There are no mt_chan records whose chid is like 'X%'
SELECT * FROM fcsaSQL3.fcsa.main.mt_chan WHERE chid LIKE 'X%'

------------------------------------------------------------------------------------------------------------
SELECT AY.call1, AY.call2, AY.bndcde, AY.anum
    FROM hulme.mt_ante AS AX
	INNER JOIN hulme.mt_ante AS AY ON (AX.call1=AY.call1 AND AX.call2=AY.call2 AND AX.bndcde='11A' AND AY.bndcde='11B' AND AX.anum=AY.anum)
	ORDER BY call1, call2, anum

SELECT MAX(anum) FROM fcsaSQL3.fcsa.main.mt_ante

-- For those mt_ante records that changing bndcde from 11B to 11A would result in a duplicate key conflict
-- change the anum to create an (as yet) unused key set.
UPDATE AY
	SET anum = AX.anum + 100
    FROM hulme.mt_ante AS AX
	INNER JOIN hulme.mt_ante AS AY ON (AX.call1=AY.call1 AND AX.call2=AY.call2 AND AX.bndcde='11A' AND AY.bndcde='11B' AND AX.anum=AY.anum)

SELECT * FROM hulme.mt_ante WHERE call1=';A4979902' AND call2='WPXL48101' AND bndcde IN ('11B', '11A') ORDER BY call1, call2, bndcde, anum

--===========================================================================================
--===========================================================================================
--===========================================================================================

-- Create a table that captures the '11B' antenna records whose anum needs to be changed.
IF OBJECT_ID('hulme.temp1') IS NOT NULL DROP TABLE hulme.temp
SELECT AY.call1, AY.call2, AY.bndcde, AY.anum, 0 AS newAnum
    INTO hulme.temp
    FROM hulme.mt_ante AS AX
	INNER JOIN hulme.mt_ante AS AY ON (AX.call1=AY.call1 AND AX.call2=AY.call2 AND AX.bndcde='11A' AND AY.bndcde='11B' AND AX.anum=AY.anum)
SELECT * FROM hulme.temp ORDER BY call1, call2, bndcde, anum

IF OBJECT_ID('hulme.temp1') IS NOT NULL DROP TABLE hulme.temp1
SELECT A.call1 AS call1, A.call2 AS call2, T.bndcde AS bndcde, T.anum AS anum, A.anum AS anumX
    INTO hulme.temp1
    FROM hulme.temp AS T
	INNER JOIN hulme.mt_ante AS A ON (A.call1=T.call1 AND A.call2=T.call2 AND A.bndcde='11A')
	WHERE T.bndcde='11B'
SELECT * FROM hulme.temp1 ORDER BY call1, call2, bndcde, anum, anumX

IF OBJECT_ID('hulme.temp2') IS NOT NULL DROP TABLE hulme.temp2
SELECT MIN(T.call1) AS call1, MIN(T.call2) AS call2, MIN(T.bndcde) AS bndcde, MIN(T.anum) AS anum, MAX(T.anumX)+1 AS newAnum
    INTO hulme.temp2
    FROM hulme.temp1 AS T
	GROUP BY call1, call2, bndcde, anum
SELECT * FROM hulme.temp2 ORDER BY call1, call2, bndcde, anum

-- Use the change table to update the anum fields in hulme.mt_ante, if required.
UPDATE hulme.mt_ante
	SET anum = T.newAnum
	FROM hulme.mt_ante AS A
	INNER JOIN hulme.temp2 AS T ON (T.call1=A.call1 AND T.call2=A.call2 AND T.bndcde='11B' AND T.anum=A.anum)
	WHERE A.bndcde='11B'

SELECT * FROM hulme.mt_ante /*WHERE bndcde = '11B'*/ ORDER BY anum DESC

SELECT * FROM hulme.mt_ante WHERE bndcde IN ('11A', '11B' ) ORDER BY anum DESC


SELECT * FROM hulme.mt_chan WHERE call1='WPVL20301' AND call2='WPVL20303' AND bndcde='11B'

-- Now update the mt_chan table to reflect the anum changes
UPDATE hulme.mt_chan
	SET antnumbtx1 = (CASE WHEN (C.antnumbtx1 = T.anum) THEN T.newAnum ELSE antnumbtx1 END),
	    antnumbtx2 = (CASE WHEN (C.antnumbtx2 = T.anum) THEN T.newAnum ELSE antnumbtx2 END),
	    antnumbrx1 = (CASE WHEN (C.antnumbrx1 = T.anum) THEN T.newAnum ELSE antnumbrx1 END),
	    antnumbrx2 = (CASE WHEN (C.antnumbrx2 = T.anum) THEN T.newAnum ELSE antnumbrx2 END),
		antnumbrx3 = (CASE WHEN (C.antnumbrx3 = T.anum) THEN T.newAnum ELSE antnumbrx3 END)
	FROM hulme.mt_chan AS C
	INNER JOIN hulme.temp AS T ON (T.call1=C.call1 AND T.call2=C.call2 AND T.bndcde='11B')
	WHERE C.bndcde='11B'

SELECT * FROM hulme.mt_chan WHERE antnumbrx1 IS NOT NULL ORDER BY antnumbtx1 DESC/*WHERE antnumbrx1 IS NOT NULL ORDER by antnumbrx1 DESC*/

-- For those mt_chan records that changing bndcde from 11B to 11A would result in a duplicate key conflict
-- change the chid to create an (as yet) unused key set.
UPDATE CY
	SET chid = 'X' + RIGHT(CY.chid, 3) /*RIGHT('000' + CONVERT(VARCHAR(3), @i), 3)*/
    FROM hulme.mt_chan AS CX
	INNER JOIN hulme.mt_chan AS CY ON (CX.call1=CY.call1 AND CX.call2=CY.call2 AND CX.bndcde='11A' AND CY.bndcde='11B' AND CX.chid=CY.chid)

-- Now we can update the mt_ante table to change all bndcde '11B' to '11A'.
UPDATE hulme.mt_ante SET bndcde = '11A' WHERE bndcde = '11B'

-- Now update the bndcde on the mt_chan records from '11B' to '11A'.
UPDATE hulme.mt_chan SET bndcde = '11A' WHERE bndcde = '11B'


SELECT A.call1, A.call2, A.bndcde, A.anum, C.chid, C.antnumbtx1, C.antnumbtx2, C.antnumbrx1, C.antnumbrx2, C.antnumbrx3
	FROM hulme.mt_ante AS A
	INNER JOIN hulme.mt_chan AS C ON (C.call1=A.call1 AND C.call2=A.call2 AND C.bndcde=A.bndcde)
	WHERE C.bndcde='11A' AND ((antnumbtx1 IS NOT NULL) OR (antnumbtx2 IS NOT NULL) OR (antnumbrx1 IS NOT NULL) OR (antnumbrx2 IS NOT NULL) OR (antnumbrx3 IS NOT NULL))--WHERE A.call1='WPVL20301' AND A.call2='WPVL20303'
	ORDER BY antnumbrx1 DESC, antnumbtx1 DESC, call1, call2, bndcde, anum

SELECT AY.call1, AY.call2, AY.bndcde, AY.anum, AX.bndcde, AX.anum
    FROM hulme.mt_ante AS AX
	INNER JOIN hulme.mt_ante AS AY ON (AX.call1=AY.call1 AND AX.call2=AY.call2 AND AX.bndcde='11A' AND AY.bndcde='11B')

SELECT * FROM hulme.mt_chan WHERE chid LIKE 'X%'
SELECT * FROM fcsaSQL3.fcsa.main.mt_ante ORDER BY mdate DESC, mtime DESC